section {
    padding: 60px;
    &.benefits {
        background-color: #F1F1F1;
        padding-top: 200px;
        justify-content: space-between;
        display: flex;
        font-size: 20px;

        .benefits-text {
            color: #333333;
            height: auto;
            width: 500px;
            h2 {
                font-size: 34px;
                color: #1C4588;
            }
        }

        .benefits-icons {
            width: 50%;
            justify-content: space-between;
            
            
            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                text-align: center;
                li {
                    max-height: 90px;
                    max-width: 90px;
                }
            }
        }

    }

    &.our-plans {
        text-align: center;
        flex-direction: column;
    }
}
