section {
    background-color: #F1F1F1;
    &.benefits {
        padding-top: 200px;
        justify-content: space-between;
        display: flex;

        .benefits-text {
            color: #333333;
            height: 390px;
            width: 50%;
            h2 {
                font-size: 34px;
            }
        }

        .benefits-icons {
            width: 40%;
            justify-content: space-between;
            font-size: 20px;
            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                text-align: center;
                li {
                    text-align: center;
                    max-height: 90px;
                    max-width: 90px;
                }
            }
        }

    }
}
