body {
    font-family: 'Roboto', sans-serif;
}

.about-membership-benefits {
    color: #333333;
    height: 390px;
    padding-top: 300px;
}

.about-membership-benefits .icons {
    width: 90px;
    height: 90px;
}