body {
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.container {
    &.benefits {
        .row {
            @include make-row;
            padding: 1000px;
            margin-top: 250px;

            & .benefits-text {
                @include make-col-ready;
                @include make-md-column(4);
    
                color: #333333;
                height: 390px;
                align-items: flex-start;
        
            }
        }
    
        
    
        & .benefits-icons {
            @include make-col-ready;
            @include make-md-column(8);

                ul {
                    list-style-type: none!important;
        
                li {
                    display: inline-block !important;
                    margin-right: 50px;
        
                    &:last-child {
                        margin-right: 0;
                    }
        
                    & img {
                        width: 90px;
                        height: 90px;
                    }
        
                    }
                }
            }
        }
    }