#powered-by {
    padding-bottom: 60px;
    justify-content: space-between;
    .powered-by-content {
        font-size: 20px;
        line-height: 32px;
        width: 938px;
    }

    .powered-by-heading {
        img {
            height: 42px;	width: 132px;
        }
    }
}