@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 110px;

    & .ha-logo {
        width: 180px;
        height: 64px;
    }
}

.here-to-help {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;

    & .phone-number {
        font-size: 22px;
        font-weight: bold;
        color: #1C4588;
        line-height: 34px;
        margin-left: 5px;
    }
}

.jumbotron-fluid {
    background: url('../images/beach-car-child.jpg') no-repeat fixed;
    background-size: 100%;
    background-attachment: fixed;;
    height: 410px;
    background-position: bottom 400px right;
}