@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 110px;
}

.here-to-help {
    font-size: 18px;
    line-height: 24px;

    & .phone-number {
        font-size: 26px;
        font-weight: bold;
        color: #1C4588;
        line-height: 34px;
    }
}

.jumbotron-fluid {
    background: url('../images/beach-car-child.jpg') no-repeat fixed;
    background-size: 100%;
    height: 410px;
    background-position: bottom 400px right;
}