@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 110px;
}

.here-to-help {
    font-size: 22px;

    & .phone-number {
        font-size: 28px;
        color: #1C4588;
    }
}

.jumbotron-fluid {
    background: url('../images/beach-car-child.jpg') no-repeat fixed;
    background-size: 100%;
    height: 410px;
    background-position: bottom 400px right;
}