@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 110px;
}

.here-to-help {
    font-size: 22px;

    & .phone-number {
        font-size: 28px;
        color: #1C4588;
    }
}

.jumbotron-fluid {
    background-image: url('../images/beach-car-child.jpg');
    background-size: cover;
    max-height: 410px;
    height: 100%;
}