.jumbotron-fluid {
    background: url('../images/beach-car-child.jpg') no-repeat center center;
    height: 410px;
    background-position: top 50px right;
    margin-bottom: 0;

   // background-size: 100%;

    & > .container {
        color: #fff;
        background-color: #1C4588;
        width: 940px;
        height: 290px;
        padding: 40px 60px;
        border-left: 10px solid #64A1D7;
        position: relative;
        top: 100px;
        right: 350px;        
        z-index: 999;

        & .jumbotron-heading {
            font-size: 34px;
        }

        & .jumbotron-content {
            font-size: 16px;
            line-height: 32px;
        }

        & .jumbotron-button {
            height: 40px;
            width: 180px;
            background-color: #83BD00;
            border-radius: 20px;
            border: none;
        }
    }
}